<div class="navigation">
    <div class="logo">
        <a href="{{ site.baseurl }}/">
            <!-- JKU Visual Data Science Lab -->
            <img class="logo-header-svg" src="{{ site.baseurl }}/assets/images/logos/jku-vds-lab-logo.svg" alt="JKU Visual Data Science Lab - Logo">
        </a>
    </div>

    <div class="logo-subtitle">Part of the <a href="https://www.jku.at/en/institute-of-computer-graphics/" target="_blank">Institute of Computer Graphics</a> @ <a href="https://www.jku.at/" target="_blank">Johannes Kepler University Linz</a>, Austria</div>


    <div class="navigation-buttons"> 
        <ul>
            <li class="home-button">
                <a href="{{ site.baseurl }}/"><span class="nav-icon"><i class="fa fa-home"></i></span><span class="nav-text">Home</span></a>
            </li>
            <li class="team-button">                
                <a href="{{ site.baseurl }}/team/"><span class="nav-icon"><i class="fa fa-group"></i></span><span class="nav-text">Team</span></a>
            </li>
            <li class="publication-button">
                <a href="{{ site.baseurl }}/publications/"><span class="nav-icon"><i class="fa fa-book"></i></span><span class="nav-text">Publications</span></a>
            </li>
            <li class="teaching-button">
                <a href="https://www.jku.at/en/institute-of-computer-graphics/teaching/" target="_blank"><span class="nav-icon" style="vertical-align: sub;"><img src="{{ site.baseurl }}/assets/images/icons/icon-teaching.svg" height="15"></span><span class="nav-text">Teaching</span></a>
            </li>
            <li class="location-button">
                <a href="https://www.google.com/maps/place/Science+Park+3/@48.3348119,14.322509,17.52z/data=!4m12!1m6!3m5!1s0x477398434ec8e84d:0xe0d1670c08989881!2sJohannes+Kepler+Universit%C3%A4t+Linz+-+JKU!8m2!3d48.336614!4d14.319305!3m4!1s0x4773991d5880f437:0xc58d7ca1cdc2b04!8m2!3d48.3351119!4d14.3242242" target="_blank"><span class="nav-icon"><i class="fa fa-map-marker"></i></span><span class="nav-text">Location</span></a>
            </li>

            <!-- <li class="home-button">
                <a href="{{ site.baseurl }}/"><span class="nav-icon"><i class="fa fa-home"></i></span><span class="nav-text">Home</span></a>
            </li>
            <li class="team-button">
                <a href="{{ site.baseurl }}/team/"><span class="nav-icon"><i class="fa fa-user"></i></span><span class="nav-text">Team</span></a>
            </li>
            <li class="publication-button">
                <a href="{{ site.baseurl }}/publications/"><span class="nav-icon"><i class="fa fa-book"></i></span><span class="nav-text">Publications</span></a>
            </li>
            <li class="teaching-button">
                <a href="https://www.jku.at/en/institute-of-computer-graphics/teaching/" target="_blank"><span class="nav-icon"><i class="fa fa-group"></i></span><span class="nav-text">Teaching</span></a>
            </li> -->
            

        </ul>
    </div>

</div>
